/* 外挂标签外链样式 */
#article-container .tag-Link {
    background: var(--linkDiv-bgColor);
    border-radius: 15px !important;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0);
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-width: 1px !important;
    margin: 1rem 0;
    transition: all .5s;
}

#article-container .tag-Link:hover {
    border: 1px solid var(--theme-color);
    background: var(--theme-color);
    box-shadow: 0 0 10px 2px var(--theme-color);
}

#article-container a.tag-Link:hover {
    text-decoration: none;
}

#article-container .tag-Link .tag-link-tips {
    border-bottom: var(--linkDiv-tipsBorder);
    padding-bottom: 4px;
    font-size: 0.6rem;
    color: var(--linkDiv-textColor);
    font-weight: normal;
    transition: all .5s;
}

#article-container .tag-Link:hover .tag-link-tips {
    border-bottom: var(--linkDiv-tipsBorderHover);
}

#article-container .tag-Link .tag-link-bottom {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: space-around;
}

#article-container .tag-Link .tag-link-bottom .tag-link-left {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 10px;
}

#article-container .tag-Link .tag-link-bottom .tag-link-right {
    margin-left: 1rem;
}


#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-title {
    color: var(--linkDiv-titleColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    transition: all .5s;
}

#article-container .tag-Link:hover .tag-link-tips,
#article-container .tag-Link:hover .tag-link-bottom .tag-link-right .tag-link-title,
#article-container .tag-Link:hover .tag-link-bottom .tag-link-right .tag-link-sitename,
#article-container .tag-Link:hover .tag-link-bottom i {
    color: var(--linkDiv-hoverColor) !important;
}

#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-sitename {
    font-size: 0.7rem;
    color: var(--linkDiv-textColor);
    font-weight: normal;
    margin-top: 4px;
    transition: all .5s;
}

#article-container .tag-Link .tag-link-bottom i {
    color: var(--linkDiv-textColor);
    margin-left: auto;
    transition: all .5s;
}