/* 鼠标样式 */

/* 点击 */
.recent-post-item:hover {
    cursor: pointer;
}

/* 鼠标样式 end */

/* 首页修改 */

body {
    background: var(--qn-body-bg);
    /* 确保伪元素相对于容器定位 */
}

@media screen and (min-width:768px) {
    .page {
        position: relative;
        overflow: hidden;
    }

    .page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        /* 确保伪元素在内容的下方 */
        background: var(--qn-body-bg);
        background-attachment: local;
        background-position: center;
        background-repeat: initial;
        background-image: var(--qn-bg-img);
        will-change: opacity, transform, filter;
        opacity: calc(1 - var(--process) * 1) !important;
        filter: blur(calc(var(--process) * 10px));
        transform: scale(calc(1 + var(--process)* .1));
        /* 可选，增加平滑过渡效果 */
    }

    [data-theme="dark"] .page.home::before {
        height: 100vh;
    }

    [data-theme="dark"] .page::before {
        width: 100%;
        height: 400px;
        background: var(--qn-body-bg);
        background-attachment: local;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* 保持背景图片的原始尺寸 */
        background-image: var(--qn-bg-img);
    }
}

@media screen and (max-width:768px) {
    .page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        /* 确保伪元素在内容的下方 */
        background: var(--qn-body-bg);
        background-attachment: local;
        background-position: center;
        background-repeat: initial;
        background-image: var(--qn-bg-img);
    }

    [data-theme="dark"] .page::before {
        width: 100%;
        height: 100vh;
        background: var(--qn-body-bg);
        background-attachment: local;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        background-image: var(--qn-bg-img);
    }
}

.article-meta-separator,
.article-meta-wrap i,
.article-meta-link {
    margin: 0 6px;
}

.home #page-header:not(.not-top-img):before,
.page #page-header::before {
    display: none;
}

#page-header {
    background: none;
}

.recent-post-item .recent-post-cover {
    overflow: hidden;
}

.recent-post-item .recent-post-cover img {
    transition: .5s;
}

.recent-post-item:hover .recent-post-cover img {
    transform: scale(1.1);
}

/* 导航栏 */
/* 封面标题 */
/* 封面副标题 */
/* 手机端Icon */
#nav a,
#page-header #site-title,
#page-header #site-subtitle,
#page-header #site_social_icons .social-icon {
    color: var(--header-font-color);
}

/* 首页修改 end */

/* 图片模糊渐变清晰 */
/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
.home::before {
    -webkit-animation: imgblur 2s 1 ease-in-out;
    animation: imgblur 2s 1 ease-in-out;
}

@keyframes imgblur {
    0% {
        filter: blur(5px);
    }

    100% {
        filter: blur(0px);
    }
}

/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
    0% {
        -webkit-filter: blur(5px);
    }

    100% {
        -webkit-filter: blur(0px);
    }
}

/* 图片模糊渐变清晰 end */

/* 文章页 */

/* 顶部封面 */
.post-bg {
    position: relative;
}

#page-header:not(.not-top-img):before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--mark-bg);
    content: '';
    backdrop-filter: blur(8px) brightness(.5);
}

.post #page-header {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 导航栏 */
.post #page-header #nav a {
    color: var(--post-header-font-color);
}

.post #page-header.nav-fixed #nav a {
    color: var(--post-fixed-nav-font-color);
}

/* 目录 */
#aside-content #card-toc .toc-content .toc-link.active {
    border-radius: 5px;
}

/* 波浪css */
.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 5;
}

.waves-area .waves-svg {
    width: 100%;
    height: 5rem;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #f7f9febd;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #f7f9fe82;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #f7f9fe36;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #f7f9fe;
}

/* 黑色模式背景 */
[data-theme="dark"] .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #18171dc8;
}

[data-theme="dark"] .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #18171d80;
}

[data-theme="dark"] .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #18171d3e;
}

[data-theme="dark"] .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #18171d;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves-area .waves-svg {
        height: 40px;
        min-height: 40px;
    }
}

/* 文章页 end */

/* Nav导航栏 */
#nav #navBox {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

#nav .site-page:not(.child):after {
    display: none;
}

.nav-fixed #nav {
    backdrop-filter: blur(5px) saturate(150%);
}

.menus_item_child li:not(#sidebar-menus li) {
    float: left;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.menus_item_child:not(#sidebar-menus ul) {
    /*
    left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
    改为：*/
    left: 50%;
    translate: -50%;
}

#nav #blog-info {
    overflow: visible;
    flex: none;
    z-index: 100;
}

#nav #blog-info a {
    position: relative;
    font-size: 1.2em;
}

#nav #blog-info a::before {
    opacity: 0;
    background-color: var(--theme-color) !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    width: 120%;
    height: 120%;
    content: "\f015";
    box-shadow: 0 0 5px var(--theme-color);
    font-family: "Font Awesome 6 Free";
    text-align: center;
    color: white;
    line-height: 34px;
    font-size: 18px;
    font-weight: 900;
}

#nav #blog-info a:hover::before {
    opacity: 1;
    scale: 1.03;
}

#nav.hide-menu .menus_items {
    display: inline-block;
    transition: 0.3s;
}

#nav .menus_items .menus_item,
#nav .site-page.social-icon.search {
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 10px;
    transition: .5s;
}

#nav .menus_items .menus_item:hover,
#nav .site-page.social-icon.search:hover {
    background: var(--theme-color);
    box-shadow: 0 0 5px var(--theme-color);
}

#nav .menus_items .menus_item:hover a {
    color: #fff;
}

#page-header.nav-fixed #nav .menus_items .menus_item:hover a,
#page-header.nav-fixed #nav .site-page.social-icon.search:hover {
    color: #fff;
}

#menuTitleBox {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#menuTitleBox #name-container {
    height: 100%;
    line-height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

#menuTitleBox #name-container::before {
    opacity: 0;
    background-color: var(--theme-color) !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60%;
    content: "回到顶部";
    box-shadow: 0 0 5px var(--theme-color);
    text-align: center;
    color: white;
    line-height: 36px;
    font-size: 18px;
    font-weight: 900;
}

#menuTitleBox #name-container:hover::before {
    opacity: 1;
    scale: 1.03;
    cursor: pointer;
}

#nav.hide-menu #toggle-menu {
    display: none !important;
}

#nav #nav-right {
    z-index: 100;
    position: absolute;
    right: 0;
}

#nav a.site-page {
    padding-bottom: 6px;
    display: inline-block;
}

#nav a.site-page span {
    padding-left: 4px;
}

#nav a.site-page::before {
    display: none;
}

#nav #menus {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#nav #menus .menus_items {
    transition: .3s;
}

#nav .menus_items .menus_item .menus_item_child {
    padding: 5px;
    border-radius: 15px;
}

#nav .menus_items .menus_item .menus_item_child li {
    transition: .3s;
    border-radius: 10px !important;
    margin: 0 2px;
}

#nav .menus_items .menus_item .menus_item_child li:hover {
    background: var(--theme-color);
}

#nav .menus_items .menus_item .menus_item_child li:hover a {
    color: #fff !important;
}

@media screen and (max-width:768px) {

    /* 菜单修复 */
    #nav.hide-menu #toggle-menu {
        display: inline-block !important;
    }

    #nav #menus,
    #nav #menuTitleBox {
        display: none;
    }

    #nav #blog-info a {
        font-size: 1em;
    }
}

/* Nav导航栏 */

/* 返回顶部 */

button#go-up #percent {
    display: none;
    font-weight: bold;
    font-size: 15px !important;
}

button#go-up span:nth-child(2) {
    font-size: 12px !important;
    margin-right: -1px;
}

/* 鼠标滑动到按钮上时显示返回顶部图标 */

button#go-up:hover i {
    display: block !important;
}

button#go-up:hover #percent {
    display: none !important;
}

/* 返回顶部 end */

/* Snackbar弹窗 */

.snackbar-container,
.snackbar-pos.top-right {
    border-radius: 15px !important;
}

/* Snackbar弹窗 end */

/* 加载动画头像 */

.loading-img {
    background: url(https://pub.quenan.love/img/logo_head.webp) no-repeat center center;
    background-size: cover;
}

/* 加载动画头像 end */

/* 宽屏适配 */

.layout {
    /* 全局宽度 */
    max-width: 1400px;
    justify-content: center;
    flex-direction: row-reverse;
}

.aside-content {
    /* 侧边卡片栏宽度 */
    max-width: 300px;
}

@media screen and (max-width: 900px) {

    /* 平板尺寸自适应(不启用侧边栏宽度限制) */
    .aside-content {
        max-width: none !important;
        padding: 0 5px 0 5px;
    }

    .layout {
        justify-content: normal !important;
        flex-direction: column !important;
    }
}

@media screen and (min-width: 900px) {
    #aside-content {
        padding: 0 15px 0 0;
    }
}

/* 除了首页以外其他页面隐藏卡片，并采用宽屏显示 */
#archive,
#page,
#category,
#tag {
    width: 100%;
}

.page:not(.page.home) .aside-content {
    display: none;
}

#article-container .flink .flink-list>.flink-list-item {
    width: calc(100% / 4 - 15px);
}

/* 宽屏适配 end */

/* 信息卡片头像状态 */

#aside-content .card-widget {
    overflow: visible;
}

.card-info-avatar .author-status-box {
    position: absolute;
    bottom: 0;
    left: calc(100% - 28px);
    width: 28px;
    height: 28px;
    border: 1px solid #d0d7de;
    border-radius: 2em;
    background-color: #f8f8f8f8;
    transition: 0.4s;
    overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
    background-color: #222222f2;
    border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
    width: 120px;
}

.card-info-avatar .author-status-box:hover .author-status span {
    width: 105px;
    margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
    width: 0;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.4s;
}

.card-widget .card-info-avatar {
    display: inline-block;
    position: relative;
}

/* 信息卡片头像状态 end */

/* 超链接修改 */

#post a:hover {
    color: var(--theme-color);
}

#article-container a:not(.box, .fancybox, .flink-list-item a, .headerlink, .imgbox, .magnet_link, .pimgbox, .swf, .tag-Link) {
    position: relative;
    text-decoration: none !important;
    transition: all .3s;
}

#article-container .flink-list-item a::before {
    display: none !important;
}

#article-container a:not(.box, .fancybox, .flink-list-item a, .headerlink, .imgbox, .magnet_link, .pimgbox, .swf, .tag-Link):hover {
    color: var(--theme-color);
}

#article-container a:not(.box, .fancybox, .flink-list-item a, .headerlink, .imgbox, .link-card, .magnet_link, .pimgbox, .swf, .tag-Link)::before,
#nav .site-page:not(.child):before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 3px;
    background: var(--theme-color);
    transition: all .3s;
    transform: scaleX(0);
    border-radius: 25px;
}

#article-container a:not(.box, .fancybox, .headerlink, .imgbox, .magnet_link, .pimgbox, .swf, .tag-Link):hover::before,
#nav .site-page:not(.child):hover::before {
    transform: scaleX(1);
}

a[data-fancybox="gallery"]:hover::before {
    display: none !important;
}

#article-container #hpp_talk p img {
    display: inline;
}

/* 超链接修改 end */

/* 首页轮播图 */

#swiper_container .blog-slider__content {
    height: 250px;
}

#swiper_container a.blog-slider__title {
    font-weight: bold;
}

#swiper_container .blog-slider__text {
    font-size: 1em;
}

#swiper_container .swiper-button-next,
#swiper_container .swiper-button-prev {
    opacity: .3;
}

.recent-post-item:hover #swiper_container .swiper-button-next,
.recent-post-item:hover #swiper_container .swiper-button-prev {
    opacity: 1;
    font-weight: bolder;
}

#swiper_container .swiper-button-next:after,
#swiper_container .swiper-button-prev:after {
    color: var(--theme-color);
}

/* 首页轮播图 */

/* 归档、标签、分类页 */

#archive,
#tag,
#category {
    padding: 25px 10px;
}

/* 归档 */
.article-sort-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.article-sort-item::before,
.article-sort-title::before,
.article-sort-title::after {
    content: none;
}

.article-sort .year {
    width: 100% !important;
    border-bottom: dashed 5px var(--theme-color);
    font-size: 26px;
    margin-top: 20px;
}

.article-sort {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    padding: 0;
}

.article-sort-item:not(.year) {
    padding: 8px 10px;
    width: calc(50% - 0.8rem);
    margin: 0.4rem;
    border: 2px solid var(--theme-color);
    border-radius: 15px;
    background: var(--card-bg);
    transition: 0.5s;
    height: 120px;
}

.article-sort-item-a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.article-sort-item-img {
    transition: 0.5s;
    height: 90px;
    width: 140px;
}

.article-sort-item>a>img {
    border-radius: 15px;
}

.article-sort-item-title {
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 25px;
    text-overflow: ellipsis;
}

.article-sort-item-title:hover {
    transform: none;
}

.article-sort-meta {
    height: max-content;
    position: relative;
}

.article-sort-meta>.article-meta-wrap {
    float: left;
}

.article-sort-meta>.article-sort-item-time {
    float: right;
}

.article-sort-item-categories,
.article-sort-item-tags {
    margin: 0 3px;
    padding: 5px 8px;
    border-radius: 25px;
    border: var(--archives-categories-border);
    font-size: 12px;
    transition: 0.5s;
}

.article-sort-item-info>div:not(.article-sort-meta) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-sort-item>i {
    position: absolute;
    right: 10px;
    color: var(--archives-hover-font);
}

.article-sort-description,
.article-sort-item>i {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
}

.article-sort-description {
    width: 0;
    height: 59px;
    line-height: 59px;
    vertical-align: middle;
    margin: 5px 10px 0 15px;
    text-overflow: ellipsis;
}

.article-sort-item:hover:not(.year) {
    background-color: var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color);
}

.article-sort-item:hover:not(.year) {
    background-color: var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year)>i {
    width: auto;
    opacity: 1;
}

.article-sort-item:hover:not(.year) .article-sort-description {
    width: auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img {
    transition: 0.5s;
    width: 0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title {
    color: var(--archives-hover-font) !important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year) .article-sort-item-time {
    color: var(--archives-hover-timeColor) !important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories {
    border: var(--archives-categories-border);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags {
    border: var(--archives-categories-border);
}

#pagination .page-number {
    border-radius: 6px;
}

@media screen and (max-width:768px) {
    .article-sort-item:not(.year) {
        width: 100%;
    }

    .article-sort-meta>.article-meta-wrap {
        display: none;
    }

    .article-sort-item-title {
        font-size: 16px;
    }

    .article-sort-item-img {
        width: 90px;
    }
}

/* 分类 */
.category-lists ul li:before {
    content: "\f550";
    font-weight: 900;
    cursor: pointer;
    font-family: "Font Awesome 6 Free";
    position: static;
    border: none;
    font-size: 20px;
    width: auto;
    height: auto;
}

.category-lists .category-list .category-list-count:before,
.category-lists .category-list .category-list-count:after {
    display: none;
}

.category-lists ul {
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-lists ul li {
    padding: .5em;
    border: 1px solid #cacaca;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 8px 6px #2c2d300c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.category-lists ul li:hover {
    box-shadow: 0 0 8px 5px var(--theme-color);
    background: var(--theme-color);
    border-color: var(--theme-color);
    transform: scale(1.1);
}

.category-lists ul li:hover a {
    color: #fff;
}

.category-lists ul li a:hover {
    color: #fff !important;
}

.category-lists .category-list a {
    font-size: 1.2em;
    margin: 0 10px;
}

.category-lists .category-list .category-list-count {
    color: #858585;
    background: #e5e5e5;
    padding: 2px 15px;
    margin: 0;
    border-radius: 10px;
}

/* 标签 */
.tag-cloud-list.is-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-cloud-list a {
    color: var(--font-color) !important;
    padding: .5em;
    border: 1px solid #cacaca;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 8px 6px #2c2d300c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.tag-cloud-list a:hover {
    color: #fff !important;
    box-shadow: 0 0 8px 5px var(--theme-color);
    background: var(--theme-color);
    border-color: var(--theme-color);
    transform: scale(1.1);
}

.tag-cloud-list a span {
    margin-left: 10px;
    color: #858585;
    background: #e5e5e5;
    padding: 2px 15px;
    border-radius: 10px;
}

.tag-cloud-list a:before {
    content: "\f02b";
    color: var(--tag-icon-color);
    font-weight: 900;
    cursor: pointer;
    font-family: "Font Awesome 6 Free";
    position: static;
    border: none;
    font-size: 20px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

/* 归档、标签、分类页 end */

/* 右下角菜单 */

#rightside #rightside-config-show>button,
#rightside #rightside-config-hide>button {
    border-radius: 50%;
}

/* 右下角菜单 end */

/* 滚动条 */

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 2px solid #000;
}

/* 滚动条 end */

/* 侧边栏 */

#aside-content .aside-list>.aside-list-item img {
    border-radius: 10px;
}

/* 侧边栏 end */