/* 首页修改 */

body {
    background: var(--qn-body-bg);
}

/* 首页修改 end */

/* Nav导航栏 */
#nav {
    justify-content: space-between;
    user-select: none;
}

#nav .site-page:not(.child):after {
    display: none;
}

.nav-fixed #nav {
    backdrop-filter: blur(5px) saturate(150%);
}

.menus_item_child li:not(#sidebar-menus li) {
    float: left;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.menus_item_child:not(#sidebar-menus ul) {
    /*
    left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
    改为：*/
    left: 50%;
    translate: -50%;
}

#nav #blog-info {
    overflow: visible;
    flex: none;
    z-index: 99;
}

#nav #blog-info a {
    position: relative;
    font-size: 1.2em;
}

#nav #blog-info a::before {
    opacity: 0;
    background-color: var(--theme-color) !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    width: 120%;
    height: 120%;
    content: "\f015";
    box-shadow: 0 0 5px var(--theme-color);
    font-family: "Font Awesome 6 Free";
    text-align: center;
    color: white;
    line-height: 34px;
    font-size: 18px;
    font-weight: 900;
}

#nav #blog-info a:hover::before {
    opacity: 1;
    scale: 1.03;
}

#nav.hide-menu .menus_items {
    display: inline-block;
    transition: 0.3s;
}

#nav .menus_items .menus_item {
    padding: 0 10px;
}

#menuTitleBox {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#menuTitleBox #name-container {
    height: 100%;
    line-height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

#menuTitleBox #name-container::before {
    opacity: 0;
    background-color: var(--theme-color) !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60%;
    content: "回到顶部";
    box-shadow: 0 0 5px var(--theme-color);
    text-align: center;
    color: white;
    line-height: 36px;
    font-size: 18px;
    font-weight: 900;
}

#menuTitleBox #name-container:hover::before {
    opacity: 1;
    scale: 1.03;
}

#nav.hide-menu #toggle-menu {
    display: none !important;
}

#nav #nav-right {
    z-index: 99;
}

@media screen and (max-width: 572px) {

    /* 菜单修复 */
    #nav.hide-menu #toggle-menu {
        display: inline-block !important;
    }

    #menus {
        display: none;
    }

    #nav #blog-info a {
        font-size: 1em;
    }
}

/* Nav导航栏 */

/* 返回顶部 */

button#go-up #percent {
    display: none;
    font-weight: bold;
    font-size: 15px !important;
}

button#go-up span:nth-child(2) {
    font-size: 12px !important;
    margin-right: -1px;
}

/* 鼠标滑动到按钮上时显示返回顶部图标 */

button#go-up:hover i {
    display: block !important;
}

button#go-up:hover #percent {
    display: none !important;
}

/* 返回顶部 end */

/* Snackbar弹窗 */

.snackbar-container,
.snackbar-pos.top-right {
    border-radius: 15px !important;
}

/* Snackbar弹窗 end */

/* 加载动画头像 */

.loading-img {
    background: url(https://pub.quenan.love/img/logo_head.webp) no-repeat center center;
    background-size: cover;
}

/* 加载动画头像 end */

/* 宽屏适配 */

.layout {
    /* 全局宽度 */
    max-width: 1400px;
    justify-content: center;
    flex-direction: row-reverse;
}

.aside-content {
    /* 侧边卡片栏宽度 */
    max-width: 300px;
}

@media screen and (max-width: 900px) {

    /* 平板尺寸自适应(不启用侧边栏宽度限制) */
    .aside-content {
        max-width: none !important;
        padding: 0 5px 0 5px;
    }
}

@media screen and (min-width: 900px) {
    #aside-content {
        padding: 0 15px 0 0;
    }
}

/* 除了首页以外其他页面隐藏卡片，并采用宽屏显示 */
#archive,
#page,
#category,
#tag {
    width: 100%;
}

.page:not(.page.home) .aside-content {
    display: none;
}

/* 宽屏适配 end */

/* 信息卡片头像状态 */

#aside-content .card-widget {
    overflow: visible;
}

.card-info-avatar .author-status-box {
    position: absolute;
    bottom: 0;
    left: calc(100% - 28px);
    width: 28px;
    height: 28px;
    border: 1px solid #d0d7de;
    border-radius: 2em;
    background-color: #f8f8f8f8;
    transition: 0.4s;
    overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
    background-color: #222222f2;
    border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
    width: 120px;
}

.card-info-avatar .author-status-box:hover .author-status span {
    width: 105px;
    margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
    width: 0;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.4s;
}

.card-widget .card-info-avatar {
    display: inline-block;
    position: relative;
}

/* 信息卡片头像状态 end */

/* 超链接修改 */

#post a:hover {
    color: var(--theme-color);
}

#article-container a:not(.box, .fancybox, .flink-list-item a, .headerlink, .imgbox, .magnet_link, .pimgbox, .swf, .tag-Link) {
    position: relative;
    text-decoration: none !important;
    transition: all .3s;
}

#article-container .flink-list-item a::before {
    display: none !important;
}

#article-container a:not(.box, .fancybox, .flink-list-item a, .headerlink, .imgbox, .magnet_link, .pimgbox, .swf, .tag-Link):hover {
    color: var(--theme-color);
}

#article-container a:not(.box, .fancybox, .flink-list-item a, .headerlink, .imgbox, .link-card, .magnet_link, .pimgbox, .swf, .tag-Link)::before,
#nav .site-page:not(.child):before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 3px;
    background: var(--theme-color);
    transition: all .3s;
    transform: scaleX(0);
    border-radius: 25px;
}

#article-container a:not(.box, .fancybox, .headerlink, .imgbox, .magnet_link, .pimgbox, .swf, .tag-Link):hover::before,
#nav .site-page:not(.child):hover::before {
    transform: scaleX(1);
}

a[data-fancybox="gallery"]:hover::before {
    display: none !important;
}

#article-container #hpp_talk p img {
    display: inline;
}

/* 超链接修改 end */

/* 首页轮播图 */

#swiper_container .blog-slider__content {
    height: 250px;
}

#swiper_container a.blog-slider__title {
    font-weight: bold;
}

#swiper_container .blog-slider__text {
    font-size: 1em;
}

#swiper_container .swiper-button-next:after,
#swiper_container .swiper-button-prev:after {
    color: var(--theme-color);
}

/* 首页轮播图 */

/* 归档、标签、分类页 */

#archive,
#tag,
#category {
    background: var(--ichika-card-bg);
    padding: 25px 10px;
}

.article-sort-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.article-sort-item::before,
.article-sort-title::before,
.article-sort-title::after {
    content: none;
}

.article-sort .year {
    width: 100% !important;
    border-bottom: dashed 5px var(--theme-color);
    font-size: 26px;
    margin-top: 20px;
}

.article-sort {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    padding: 0;
}

.article-sort-item:not(.year) {
    padding: 8px 10px;
    width: calc(50% - 0.8rem);
    margin: 0.4rem;
    border: 2px solid var(--theme-color);
    border-radius: 15px;
    background: var(--card-bg);
    transition: 0.5s;
    height: 120px;
}

.article-sort-item-a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.article-sort-item-img {
    transition: 0.5s;
    height: 90px;
    width: 140px;
}

.article-sort-item>a>img {
    border-radius: 15px;
}

.article-sort-item-title {
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 25px;
    text-overflow: ellipsis;
}

.article-sort-item-title:hover {
    transform: none;
}

.article-sort-meta {
    height: max-content;
    position: relative;
}

.article-sort-meta>.article-meta-wrap {
    float: left;
}

.article-sort-meta>.article-sort-item-time {
    float: right;
}

.article-sort-item-categories,
.article-sort-item-tags {
    margin: 0 3px;
    padding: 5px 8px;
    border-radius: 25px;
    border: 1px solid var(--dark-grey);
    font-size: 12px;
    transition: 0.5s;
}

.article-sort-item-info>div:not(.article-sort-meta) {
    display: flex;
    align-items: center;
}

.article-sort-description,
.article-sort-item>i {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
}

.article-sort-description {
    width: 0;
    height: 59px;
    vertical-align: middle;
    margin: 5px 10px 0 15px;
    text-overflow: ellipsis;
}

.article-sort-item:hover:not(.year) {
    background-color: var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color);
}

.article-sort-item:hover:not(.year) {
    background-color: var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year)>i {
    width: auto;
    opacity: 1;
}

.article-sort-item:hover:not(.year) .article-sort-description {
    width: auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img {
    transition: 0.5s;
    width: 0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title {
    color: var(--archives-font-white) !important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year) .article-sort-item-time {
    color: var(--archives-light-grey) !important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories {
    border: 1.5px solid var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags {
    border: 1.5px solid var(--ichika-purple);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover {
    background: var(--ichika-green);
    box-shadow: 0 0 5px var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover {
    background: var(--ichika-purple);
    box-shadow: 0 0 5px var(--ichika-purple);
}

@media screen and (max-width:768px) {
    .article-sort-item:not(.year) {
        width: 100%;
    }

    .article-sort-meta>.article-meta-wrap {
        display: none;
    }

    .article-sort-item-title {
        font-size: 16px;
    }

    .article-sort-item-img {
        width: 90px;
    }
}

/* 归档、标签、分类页 end */