:root {
    /* 主题颜色 */
    --theme-color: #fe8599;
    /* 首页卡片阴影 */
    --card-box-shadow: 0 0 15px 5px rgba(7, 17, 27, 0.05);
    /* 背景颜色 */
    --qn-body-bg: #F7F9FE;
    /* 首页背景图片 */
    --qn-bg-img: url(https://pub.quenan.love/img/bg.svg);
    /* 首页头部颜色 */
    --header-font-color: #000;
    /* 首页分类磁贴 */
    --fl-bg: #e5e5e5;
    --fl-text: #000;
    --fl-hover-text: #fff;
    /* 外链地址样式 */
    --linkDiv-hoverColor: #fff;
    --linkDiv-titleColor: #2e2e2e;
    --linkDiv-textColor: #999;
    --linkDiv-bgColor: #f1f3f8;
    --linkDiv-tipsBorder: 1px solid var(--linkDiv-textColor);
    --linkDiv-tipsBorderHover: 1px solid #e5e5e5;
    /* 主页文章样式 */
    --recent-post-bgcolor: var(--global-bg);
    --recent-post-borderColor: rgba(0, 0, 0, 0);
    --recent-post-hover-borderColor: var(--theme-color);
    /* 归档 */
    --archives-categories-border: 1.5px solid #cacaca;
    --archives-hover-timeColor: #F2F2F2;
    --archives-hover-font: #FDFDFD;
    /* 标签 */
    --tag-icon-color: #2e2e2e;
    /* 文章页 */
    --mark-bg: rgba(0, 0, 0, 0.3);
    --post-header-font-color: #fff;
    --post-phone-header-font-color: #000;
}

[data-theme="dark"] {
    /* 背景颜色 */
    --qn-body-bg: var(--global-bg);
    /* 首页背景图片 */
    --qn-bg-img: url(https://pub.quenan.love/img/night.webp);
    /* 首页头部颜色 */
    --header-font-color: #fff;
    /* 首页分类磁贴 */
    --fl-bg: #222;
    --fl-text: #fff;
    /* 外链地址样式 */
    --linkDiv-bgColor: #1F1F1F;
    --linkDiv-titleColor: #a2a2a2;
    /* 文章页 */
    --mark-bg: transparent;
    --post-phone-header-font-color: #fff;
}